<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="box" id="heading">
        <h1><%= day %></h1>
    </div>
    
    <div class="box">
        <%for(let i=0; i<newTasks.length; i++){%>
            <% if(newTasks[i].task != ""){%>
                <form action="/delete" method="post">
                    <div class="item">
                        <input type="checkbox" name="checkbox" value="<%= newTasks[i]._id%>" onchange="this.form.submit()">
                        <p><%=newTasks[i].task%></p>
                    </div>
                <input type="hidden" name="listname" value="<%= day %>">
            </form>
        <%}}%>

        <form class="item" action=<%= location %> method="post">
            <input type="text" placeholder="New Item" name="things" autocomplete="off">
            <button type="submit">+</button>
        </form>
    </div>


</body>
</html>